/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2015, 8:20:32 PM
    Author     : rbhadour
*/
/*******************************************************/
#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}
/***********************************************************/
body{
    width: 100%;
    height: 100%;
}
.header_small1{
    width: 100%;
    height: 30px;
    position: fixed;
    z-index:1;
    // margin-bottom:20px;
    background-color:#006dcc;
}
.header_Big1{
    position:relative; 
    //position: fixed;
    width: 100%;
    z-index:1;
    height: 0%;
    // margin-top: 20px;
}
.container_mod1{
    height:80%;
    width:100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    
    margin-top: 0;
    padding: 0 0 0 0;
}
.width_100_percent{
    width: 100%;
}
.no_margin{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.no_padding{
    padding-bottom: 0;
    padding-left:0;
    padding-right: 0;
    padding-top: 0;
}
.height_100_per{
    height: 100%;
}

/*************************************************************************************************/
ul.small_header01{
    float: left;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index:;
}
ul.small_header01 li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    //z-index: 10000;
}
ul.small_header01 li:hover {
    background: #555;
    color: #fff;
    //z-index: 10000;
}
ul.small_header01 li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
    //z-index: 10000;
}
ul.small_header01 li ul li { 
    background: #555; 
    display: block; 
    color: #fff;
    // z-index: 10000;
    text-shadow: 0 -1px 0 #000;
}
ul.small_header01 li ul li:hover { background: #666;
                                   // z-index: 10000;}
                                   ul.small_header01 li:hover ul {
                                       display: block;
                                       opacity: 1;
                                       // z-index: 10000;
                                       visibility: visible;
                                   }
                                   .hideMenu{
                                       border-radius: 20px;
                                       background-color:#006dcc;
                                   }