/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2015, 9:40:10 PM
    Author     : rbhadour
*/

.slide_img_main_div{
    width: 100%;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.center-grey{
    background:#f2f2f2;
}
.slider{
    position: relative;
    padding:0;
    width:100%;
    margin:0;

    margin-top:0;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    height: 70%;
    
    margin-left: -16px; 
    //box-shadow: 0px 0px 15px #999;
    width: 103.5%;

     border-image-slice: 20;
  border-image-width: 20;
  border-image-outset: 1;
  border-image-repeat: round;
}

.arrows{
    position: absolute;
    top: 20px;
    right: 20px;
    
    //float: left;
}

.arrows img{
    height: 32px;
}

h1{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #222;
}

.slide.ng-hide-add, .slide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
}

.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
    opacity:0;
}

.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.slide_img_0001{
    width: 100%;
    /* padding-right: 32px; */
}

.menu_drop{
    height: 30px;
    width:20%;
    //margin-left:-13px;
    background-color: #d58512;
    z-index:100;
    float: right;
    height:300px;
    background: #fcfeff;
    border-radius: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow: -3px 0 6px darken(#556270, 5%);
    -webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
    box-shadow: -3px 0 6px darken(#556270, 5%);

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;


}

/***********************drop menu ***********************************/

#header li {
    float:left;
    background:url("norm_right.gif")
        no-repeat right top;
    margin:0;
    padding:0;
    text-align: left;
}

#header a {
    display:block;
    background:url("norm_left.gif")
        no-repeat left top;
    padding:5px 15px;
}
#header #current {
    background-image:url("norm_right_on.gif");
}
#header #current a {
    background-image:url("norm_left_on.gif");
}
#header {
    float:left;
    width:100%;
    background-color:
        repeat-x bottom;
    font-size:93%;
    line-height:normal;
    text-align: left;
    background: #fcfeff;
    border-radius: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow: -3px 0 6px darken(#556270, 5%);
    -webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
    box-shadow: -3px 0 6px darken(#556270, 5%);

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;


}

#header ul {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
    text-align: left;
}