div class="warning-pop-wrapper" style="background-color: #E3DFD2;">
    <h1 class="warning-ttl" style="background-color: #336699; color: #FFFFFF;font-family: Arial;">Warning </h1>

    <div class="warning-body-cont" style="background-color: #F7F6F2;">Information will be lost.<br>
        Do you wish to cancel?
    </div>

    <input type="button" name="button2" class="btn btn-primary" value="Yes"
           style="background-color: #336699; color: #fff;font-family: Arial;font-weight: normal;" ng-click="$close('yes');">

    <input type="button" name="button2" class="btn btn-primary"  value="No"
           style="background-color: #FFFFFF; color: #282828;border:1px solid #999999;" ng-click="$close('no');">
    