<div ng-controller="modelController">
    <header class="wrapper clearfix">
        <h2 class="title">PHOTOGRAPHY</h2>

        <nav>
            <ul>
                <li><a href="#/home">Home</a></li>
                <li class="header"><a  href="" ng-click="toggleModal('contactus')">Contact Us</a>

                </li>
<!--                                <li><a href="" ng-click="toggleModal('aboutus')">About Us</a></li>-->
                <li><a href="" ng-click="toggleModal('sidemenu')">Menu<img src="img/core_img/menu.png" class="menu_img01" /></a></li>
            </ul>
        </nav>
    </header>
</div>
<!--<div class="header_small1">
            Need to add something
        </div>
<div  class="width_100_percent no_margin slide_img_0001   img-responsive img-rounded animated footer-container" >
     
    <div class="wrapper">
        <h1>MY PASSION</h1>
        
        
    </div>
</div>-->